<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>News</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a href="" class="navbar-brand mx-auto">Edit</a>
    </nav>

    <div class="row">
      <div class="col-md-6 mt-4 text-center">
        
          <% for (var i = 0; i < fors.length; i ++) { %>
        

            <div class="col-md-6 mt-4 card">
              <form class="card-body" action="/put/<%= fors[i].idpruebaApi %>" method="put">
                <h3 class="card-title">Edit News</h3>
                <div class="form-group">
                  <h3 class="card-title"><%= fors[i].idpruebaApi %></h3>
                </div>
                <div class="form-group">
                  <input name="valor1" type="text" class="form-control" placeholder="<%= fors[i].valor1 %>">
                </div>
                <!-- <div class="form-group">
                  <input name="valor2edit" type="text" class="form-control" placeholder="<%= fors[i].valor2 %>">
                </div> -->
                <!-- <div class="form-group">
                  <input name="valor3" type="text" class="form-control" placeholder="News Content">
                </div> -->
                <input type="submit" class="btn btn-primary">
              </form>
            </div> 

          <% } %>
        </table>
      </div>

    </div>
  </body>
</html> 